* {
    font-family: 'Montserrat', sans-serif;
}
h1, h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
}
h3 {
    font-size: 20px;
    font-weight: 600;
    
}
h6 {
    font-size: 16px;
    font-weight: 600;
}
::placeholder {
    font-size: 12px;
    font-weight: 400px;
}
p {
    font-size: 14px;
    font-weight: 400px;
}