footer {
    background-color: $black-bg;
    padding: 52px 0;
    .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .social-icons {
        display: flex;
        flex-direction: row;

        a {
            margin-right: 108px;

            &:hover {transform: scale(1.2);}
        }
    }
    .copyright {
        span {
            font-size: 18px;
            color: white;
            opacity: 0.5;
        }
    }
}