header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black-bg;
    z-index: 3;
    .container {
        display: flex;
        justify-content: space-between;
    }

    ul {
    display: flex;
    padding-top: 25px;
    padding-left: 0;
    margin:0;

    li {
        list-style: none;
        &:not(:last-child) {
            margin-right: 44px;
        }
        
    }

    a {
        color: #fff;
        text-decoration: none;
    }
    }
}
