header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black-bg;
    z-index: 3;
    .container {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        padding-top: 25px;
        padding-left: 0;
        margin:0;

        li {
            list-style: none;
            &:not(:last-child) {
                margin-right: 44px;
            }
            a {
                position: relative;
                color: #fff;
                opacity: 0.69;
                text-decoration: none;
                cursor: pointer;

                &:hover, &:active {
                    color: #fff;
                    opacity: 1;
                }
                &:hover::after {
                    content: '';
                    position: absolute;
                    bottom: -31px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $icon-bg-orange;
                    opacity: 1;
                }
            }
        }
    }
}