.hero {
    position: relative;
    display: flex;
    min-height: calc(100vh - 107px - 72px);
    @include tablet {
      height: auto;
    }
    &:after,
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    &:after {
      content: "";
      background-color: $black-bg;
      opacity: 0.63;
    }
  
    &-image {
      object-fit: cover;
    }
  
    .hero-content {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding-top: 65px;
      padding-bottom: 139px;
      color: #fff;
      z-index: 1;
      @include tablet {
        align-items: center;
      }
      @include small-screen {
        flex-direction: column;
      }
      @include mobile {
        padding-bottom: 80px;
      }
    }
    .first-column{
      margin-right: 87px; 
      @include tablet {
        margin-right: 50px;
      }
      @include small-screen {
        text-align: center;
        margin-right: 0;
        margin-bottom: 40px;
      }
      h1 {
        margin: 0;
        padding-top: 24px;
        padding-bottom: 24px;
      }
      h5 {
        padding-top: 24px;
        padding-bottom: 43px;
        line-height: 23px;
      }
      .download-btn {
        border: solid 2px #FFFFFF;
        background: none;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding: 12px 22px;
        cursor: pointer;
        outline: none;
        &:hover {
          background-color: $icon-bg-orange;
          transform: scale(1.1);
        }
      }
    }
  }

.form-wrapper {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @include mobile {
      max-width: 240px;
    }
}
.second-column {
  padding-top: 10px;
}
.radio-buttons {
  display: flex;
  flex-direction: row;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 20px rgba($color: #000000, $alpha: 0.16);
  h4, h5 {
    color: $black-bg;
  }
  h4 {
    background-color: $white-form-header;
    border-radius: 5px 5px 0 0;
    padding: 17px 50px;
    margin-bottom: 30px;
    @include tablet {
      padding: 17px 40px;
    }
    @include mobile {
      padding: 17px 15px;
    } 
  }
  h5 {
    margin-bottom: 18px;   
  }
  span {
    text-transform: uppercase;
    color: $icon-bg-orange;
  }
  label {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 9px;
    text-transform: uppercase;  
    @include mobile {
      font-size: 12px;
    }

  }
  .get-started-btn {
    width: 100%;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: $green-neon;
    padding: 18px 117px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    margin-top: 42px;
    cursor: pointer;
    outline: none;
    @include tablet {
      padding: 18px 107px;
    }
    @include mobile {
      padding: 18px 85px;
    }
    &:hover {
      background-color: #1ed387;
    }
  }
  input[type=text], input[type=tel] {
    border: none;
    border-bottom: solid 1px $border-color;
    width: 100%;
    margin-bottom: 30px;
    outline: none;
  }
    
  ::placeholder{
    color: $border-color;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  .hidden {
    opacity: 0;
  }
  .good-hidden {
    opacity: 0;
  }

} 

.custom-radio {
  label {
    display: inline-flex;
    justify-content: flex-start;
    cursor: pointer;
    margin-right: 17px;
    .radio {
      position: relative;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 1px solid $green-neon;
      opacity: 0.5;
      transition: 0.4s ease-in-out;
      margin-right: 5px;
      margin-bottom: 5px;
      &:after {
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $green-neon;
        border-radius: 50%;
        transform-origin: center center;
        transform: scale(0);
        transition: 0.4s ease-in-out;
      }
    }
    span {
    color: #000000;
    opacity: 0.5;
    }
  }
  input {
    display: none;
    &:checked + label {
      .radio, span {
        opacity: 1;
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}

.hidden-messages{
  display: flex;
  flex-direction: column;
 .bad-message, .good-message {
  text-transform: none;
  text-align: left;
  font-size: 12px;
}
  .good-message {
    color: $green-neon;
  }
}