.tab-section {
  position: relative;
  &:after,
  &-image {
      position: absolute;
      width: 100%;
      height: 100%;
  }
  &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
      opacity: 0.42;
    } 
  &-image {
    object-fit: cover;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
    padding-bottom: 115px;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  nav {
    z-index: 2;
    @media (max-width: 900px) {
      display: flex;
      justify-content: center;
      margin-bottom: 45px;
    }

    ul {
      list-style: none;
      padding: 0;
      @media (max-width: 900px) {
        display: flex;
      } 
  
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: $icon-nude;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        @media (max-width: 900px) {
          &:not(:last-child) {
            margin-right: 25px;
          }
        }
        @include mobile {
          width: 90px;
          height: 90px;
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
  
        span {
          color: #fff;
          opacity: 0.5;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          transition: 0.5s ease-in-out;
          transform: rotate(-45deg);
          
        }

        &.active,
        &:hover {
          background-color: $icon-bg-orange;
          span {
            opacity: 1;
          }
        }
      }
    }
  }
  
  .tab-content {
    display: none;
    animation: fade-in 1s forwards;
    z-index: 2;
    color: #fff;

    &.active {
      display: block;
    }
  }
}
  
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.reviews-swiper {
  width: 100%;
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    box-sizing: border-box;
  }
}

.tab-content-images{
  .small-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 168px;
      height: 168px;
      box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
      @media (max-width: 1100px) {
        width: 150px;
        height: 150px;
      }
      @include mobile {
        width: 140px;
        height: 140px;
      }
    } 
  }

  .big-images {
    img {
      width: 362px;
      height: 177px;
      margin-top: 20px;
      box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
      @media (max-width: 1100px) {
        width: 320px;
        height: 150px;
      }
      @include mobile {
        width: 290px;
        height: 150px;
      }
    }
  }
}

.tab-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 1100px) {
    align-items: flex-start;  
  }
  @media (max-width: 900px) {
    align-items: center;
  }
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .tab-content-text {
    margin-left: 52px;
    margin-right: 76px;
      @media (max-width: 1100px) {
        margin-right: 50px;
      }
      @media (max-width: 800px) {
        margin: 0;
        margin-bottom: 25px;
      }
      h2 {
        line-height: 40px;
        margin-bottom: 33px;
        @media (max-width: 1100px) {
          font-size: 28px;
          line-height: 32px; 
        }
        @media (max-width: 800px) {
          font-size: 26px;
          text-align: center;
        }
      }
      p {
        &:not(:last-child) {
            margin-bottom: 22px;
        }
      }
  }
}
.small-images {
  .image-hover {
    position: relative;
    width: 168px;
    height: 168px;
    cursor: pointer;
    @media (max-width: 1100px) {
      width: 150px;
      height: 150px;
    }
    @include mobile {
      width: 140px;
      height: 140px;
    }
    .overlay {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;
      opacity: 0;
    }
  }
  .image-hover:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(226, 120, 102, .7);
    opacity: 1;
    span {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.big-images {
  .image-hover {
    position: relative;
    width: 362px;
    height: 177px;
    cursor: pointer;
    @media (max-width: 1100px) {
      width: 320px;
      height: 150px;
    }
    @include mobile {
      width: 290px;
      height: 150px;
    }
    .overlay {
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;
      opacity: 0;
    }
  }
  .image-hover:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(226, 120, 102, .7);
    opacity: 1;
    span {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
  

